<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>OceanMediaImageIO</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OceanMediaImageIO</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) Meta Platforms, Inc. and affiliates.</string>
	<key>OceanPluginDependences</key>
	<string></string>
	<key>OceanPluginDescription</key>
	<string>This plugin provides ImageIO media support (for Apple platforms).</string>
	<key>OceanPluginName</key>
	<string>Ocean Media ImageIO</string>
	<key>OceanPluginPriority</key>
	<integer>0</integer>
	<key>OceanPluginType</key>
	<string>MEDIA</string>
</dict>
</plist>
